---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
import Slack from "../icons/Slack.astro";
import Code from "../icons/Code.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Porfolio de Mauricio - Desarrollador y Programador Web"
description="Contrata a Mauricio para crear tu aplicacion web." >
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey, Soy Mauricio <a
					href="https://www.linkedin.com/in/mauricio-arce-7808b318b/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para Trabajar</Badge></a
				>
			</h1>
			<h2 class=" text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
				<span class="text-purple-500">Bachiller en Ingenieria en Sistemas de la Informacion</span>, 
				Universidad Nacional. Desarrollador Web. De Heredia, Costa Rica <span class="text-purple-500">🇨🇷.</span>
			</h2>
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/mauricio-arce-7808b318b/">
						<LinkedIn class="size-4 md:size-6" />
						LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/Veasba01">
						<Github class="size-4 md:size-6" />
						Github
					</SocialPill>
					<SocialPill href="mailto:mauricioarcez01@gmail.com">
						<Mail class="size-4 md:size-6" />
						mauricioarcez01@gmail.com
					</SocialPill>
					
				</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-4 items-center">
				<Slack class="size-6"/>
				Experiencia en Proyectos
				</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-4 items-center">
				<Code class="size-6"/>
				Proyectos Personales
				</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
