<header class="flex items-center justify-center w-full mx-auto mt-10">
    <nav class="flex px-3 text-lg font-medium rounded-full text-white dark:text-gray-200 justify-center items-center gap-x-4">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contact">Contáctame</a>
    </nav>
</header>
